# API Backend URL
NEXT_PUBLIC_API_URL=http://localhost:5207/api/v1

# WebSocket Server URL
NEXT_PUBLIC_WS_URL=http://localhost:5207

# Enable MSW Mock Service Worker in Dev mode
NEXT_PUBLIC_API_MOCKING=false
